# Project exclude paths
/tools/initdb.js
/dist
/node_modules
/packages/*/node_modules
/packages/*/dist
/.idea
build
/scripts/dist/CommandTypes.d.ts
/scripts/dist/CommandTypes.d.ts.map
/scripts/dist/CommandTypes.js
/scripts/dist/CommandTypes.js.map
/scripts/dist/EventTypes.d.ts
/scripts/dist/EventTypes.d.ts.map
/scripts/dist/EventTypes.js
/scripts/dist/EventTypes.js.map
/scripts/dist/GenerateTypes.d.ts
/scripts/dist/GenerateTypes.d.ts.map
/scripts/dist/GenerateTypes.js
/scripts/dist/GenerateTypes.js.map
/scripts/dist/out.d.ts
/scripts/dist/out.d.ts.map
/scripts/dist/out.js
/scripts/dist/out.js.map
/scripts/dist/ProcessorTemplate.d.ts
/scripts/dist/ProcessorTemplate.d.ts.map
/scripts/dist/ProcessorTemplate.js
/scripts/dist/ProcessorTemplate.js.map
/scripts/dist/TypeTemplates.d.ts
/scripts/dist/TypeTemplates.d.ts.map
/scripts/dist/TypeTemplates.js
/scripts/dist/TypeTemplates.js.map
/scripts/dist/x.d.ts
/scripts/dist/x.d.ts.map
/scripts/dist/x.js
/scripts/dist/x.js.map
/scripts/node_modules/fs-extra/lib/copy/copy.js
/scripts/node_modules/fs-extra/lib/copy/copy-sync.js
/scripts/node_modules/fs-extra/lib/copy/index.js
/scripts/node_modules/fs-extra/lib/empty/index.js
/scripts/node_modules/fs-extra/lib/ensure/file.js
/scripts/node_modules/fs-extra/lib/ensure/index.js
/scripts/node_modules/fs-extra/lib/ensure/link.js
/scripts/node_modules/fs-extra/lib/ensure/symlink.js
/scripts/node_modules/fs-extra/lib/ensure/symlink-paths.js
/scripts/node_modules/fs-extra/lib/ensure/symlink-type.js
/scripts/node_modules/fs-extra/lib/fs/index.js
/scripts/node_modules/fs-extra/lib/json/index.js
/scripts/node_modules/fs-extra/lib/json/jsonfile.js
/scripts/node_modules/fs-extra/lib/json/output-json.js
/scripts/node_modules/fs-extra/lib/json/output-json-sync.js
/scripts/node_modules/fs-extra/lib/mkdirs/index.js
/scripts/node_modules/fs-extra/lib/mkdirs/make-dir.js
/scripts/node_modules/fs-extra/lib/mkdirs/utils.js
/scripts/node_modules/fs-extra/lib/move/index.js
/scripts/node_modules/fs-extra/lib/move/move.js
/scripts/node_modules/fs-extra/lib/move/move-sync.js
/scripts/node_modules/fs-extra/lib/output-file/index.js
/scripts/node_modules/fs-extra/lib/path-exists/index.js
/scripts/node_modules/fs-extra/lib/remove/index.js
/scripts/node_modules/fs-extra/lib/util/stat.js
/scripts/node_modules/fs-extra/lib/util/utimes.js
/scripts/node_modules/fs-extra/lib/esm.mjs
/scripts/node_modules/fs-extra/lib/index.js
/scripts/node_modules/fs-extra/LICENSE
/scripts/node_modules/fs-extra/package.json
/scripts/node_modules/fs-extra/README.md
/scripts/node_modules/jsonfile/CHANGELOG.md
/scripts/node_modules/jsonfile/index.js
/scripts/node_modules/jsonfile/LICENSE
/scripts/node_modules/jsonfile/package.json
/scripts/node_modules/jsonfile/README.md
/scripts/node_modules/jsonfile/utils.js
/scripts/node_modules/universalify/index.js
/scripts/node_modules/universalify/LICENSE
/scripts/node_modules/universalify/package.json
/scripts/node_modules/universalify/README.md
